@import '@radix-ui/colors/black-alpha.css';

/* reset */
button {
  all: unset;
}

.SplitterPanel {
  background-color: #ffffff;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.SplitterResizeHandle[data-orientation="horizontal"] {
  width: 0.5rem
}

.SplitterResizeHandle[data-orientation="vertical"] {
  height: 0.5rem
}