/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #10b981;
  --vp-c-brand-light: #10b981;
  --vp-c-brand-lighter: #34d399;
  --vp-c-brand-lightest: #a7f3d0;
  --vp-c-brand-dark: #059669;
  --vp-c-brand-darker: #047857;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #14b8a6 30%,
    #22c55e
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

.blocks {
  max-height: 80vh;
  overflow: scroll;
}

.vp-code-group {
  margin-top: 0px;
  color: var(--vp-code-block-color);
  border-radius: 0px;
}

.vp-doc h2 {
  @apply mb-2 md:mb-2.5 text-xl md:text-2xl
}

.vp-doc h3 {
  @apply text-[17px] md:text-xl;
  font-weight: 600;
  margin-top: 40px;
}

.vp-doc p {
  @apply mt-0 md:mt-2 text-[15px] md:text-base;
}

[data-radix-popper-content-wrapper] {
  z-index: 1000;
}

.vp-doc :not(pre) > code {
  @apply px-0.5 rounded-sm !bg-[#0F291E] !text-[#4CC38A];
}

li > span {
  @apply text-[15px] md:text-base
}
